/* Different from ebi-global.css tag to wrap long lines */
.gxaTag {
  margin: 0 0.2rem 0.5rem 0;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  line-height: 2.5;
  color: white;
  background-color: #3497c5;
  border-bottom: none;
}
